@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

#container {
    width: 900px;
    padding: 10px;
    margin: auto;
    border: 10px solid lightgray;
}

.content {
    display: flex;
    justify-content: space-between;
}

.actualPage {
    background-color: orange;
}

h1 {
    color: green;
    text-align: center;
    font-family: "Roboto Mono", monospace;
}

h2 {
    color: rgb(4, 167, 4);
    border-bottom: 1px solid yellow;
}

span,
h3 {
    color: orange;
}

aside {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center;
}

nav ul li {
    margin-bottom: 0.5rem;
}

nav ul li a {
    display: inline-block;
    width: 7.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: black;
    text-decoration: none;
    background-color: lawngreen;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #e0e0e0;
}

section {
    border: 1px solid lightgray;
    padding: 10px;
    width: 80%;
}

section p {
    text-align: justify;
}
